/* Navigation */
.navbar-collapse .navbar-nav .nav-item a:hover {
  color: #ff523b;
}

.cart-item {
  margin-bottom: 1rem;
}

/* Banner */
.banner-image {
  background: url('img/banner.jpg') no-repeat center center / cover;
  min-height: 510px;
  border-radius: 90px;
  padding: 30px 30px !important; 
}


.card-title a {
  color: #333; 
  text-decoration: none; 
}


@media (max-width: 768px) {
  .banner-image {
      min-height: 300px; 
  }
}

.banner-text {
  background-color: black !important; 
  color: white !important; 
}

.btn-yellow {
  background-color: yellow !important; 
  color: black !important; 
  border: 1px solid black !important; 
  border-radius: 10px !important; 
  padding: 10px 20px !important; 
}



